{:kotoba.app/id "cloud.itonami.isic-3100", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiezosbdz5hwshgaja53zkpq4pg3m5iarrbfaajvjtmv6456cks26a", :kotoba.app/embed-url "ipfs://bafkreiezosbdz5hwshgaja53zkpq4pg3m5iarrbfaajvjtmv6456cks26a", :published {:archive "https://kotobase.net/ipfs/bafkreiezosbdz5hwshgaja53zkpq4pg3m5iarrbfaajvjtmv6456cks26a", :size 72927, :put-status 201, :get-status 200, :at "2026-08-15T13:59:15.034Z"}}
